@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
    box-sizing: border-box;
}

body {
    opacity: 100%;
    background: url("../images/i01_flat\,1000x1000\,075\,f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
    background-color: rgb(135 211 162);
}

h1 {
    font-weight: bold;
    margin: 0;
    font-size: 40px;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 30px;
}

a {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 15px;
    cursor: pointer;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.line {
    background: rgba(0, 0, 0, 0.42);
    height: 2px;
    width: 350.5px;
    position: relative;
    top: -19px;
}

input {
    background-color: #ffffff;
    box-sizing: border-box;
    border: white;
    padding: 12px 15px;
    margin: 8px 0;
    position: relative;
    top: -10px;
    width: 100%;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 1px 28px rgba(0, 254, 246, 0.899), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
}

.log-in-container {
    left: 0;
    width: 60%;
    z-index: 2;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
}

.overlay {
    background: linear-gradient(to left, #43c34c, #ffffff) 120px 190px;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    height: 100%;
    width: 40%;
    left: 59.5%;
}

.overlay-right {
    right: 0;
}

.social-container {
    margin: 30px 0;
}

.social-container a {
    border: 1px solid #ffffff;
    box-shadow: 200px #ffffff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 30px;
}

a:link {
    color: rgb(0, 173, 200);
    text-decoration: none;
}

a:visited {
    color: rgb(0, 173, 200);
    text-decoration: none;
}

a:active {
    color: rgb(0, 173, 200);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 149, 172);
    text-decoration: underline;
}